Repository TeamHavit/Havit-iOS, pull requests merged in 2022-01, with the labels that each got.

#16 [ADD] Font 파일 적용
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Global/Extension/UIFont+Extension.swift
  Havit/Havit/Global/Resource/Font/Pretendard-Black.otf
  Havit/Havit/Global/Resource/Font/Pretendard-Bold.otf
  Havit/Havit/Global/Resource/Font/Pretendard-ExtraBold.otf
  Havit/Havit/Global/Resource/Font/Pretendard-ExtraLight.otf
  Havit/Havit/Global/Resource/Font/Pretendard-Light.otf
  Havit/Havit/Global/Resource/Font/Pretendard-Medium.otf
  Havit/Havit/Global/Resource/Font/Pretendard-Regular.otf
  Havit/Havit/Global/Resource/Font/Pretendard-SemiBold.otf
  Havit/Havit/Global/Resource/Font/Pretendard-Thin.otf
  Havit/Havit/Global/Supports/Info.plist
Labels: 🗂 수연, ⚙️ Setting

#14 [CHORE] Coordinator 수정
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Coordinator/AppCoordinator.swift
  Havit/Havit/Coordinator/Foundation/BaseCoordinator.swift
  Havit/Havit/Coordinator/Foundation/Coordinator.swift
  Havit/Havit/Coordinator/Foundation/SceneCoordinator.swift
  Havit/Havit/Coordinator/Foundation/SceneCoordinatorType.swift
  Havit/Havit/Coordinator/Foundation/SceneRegisterable.swift
  Havit/Havit/Coordinator/Foundation/TransitionStyle.swift
  Havit/Havit/Coordinator/MainCoordinator.swift
  Havit/Havit/Coordinator/Scene/RootScene.swift
  Havit/Havit/Coordinator/Scene/TabbarScene.swift
  Havit/Havit/Global/Base/BaseViewController.swift
  Havit/Havit/Global/Supports/SceneDelegate.swift
  Havit/Havit/Screens/Main/View/MainViewController.swift
Labels: 🗂 윤아, ⚙️ Setting, 🔨 Refactor

#18 [ADD] Havit Color 추가
  Havit/Havit/Global/Extension/UIColor+Extension.swift
Labels: 🗂 윤아, 🖍 Design

#25 [SETTING] SwiftUI PreviewProvider 추가
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Global/Utils/PreviewProvider.swift
Labels: 🗂 윤아, ⚙️ Setting

#19 [SETTING] SwiftLint 설정
  .githooks/pre-commit
  .github/workflows/action.yml
  .precommit.yml
  Dangerfile
  Gemfile
  Gemfile.lock
  Havit/.swiftlint.yml
  Havit/Havit.xcodeproj/project.pbxproj
  README.md
Labels: 🗂 승현, ⚙️ Setting, 🤖 CI

#34 [ADD] Cell base 추가
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Global/Base/BaseCollectionViewCell.swift
  Havit/Havit/Global/Base/BaseTableViewCell.swift
  Havit/Havit/Global/Extension/UICollectionView+Extension.swift
  Havit/Havit/Global/Extension/UILabel+Extension.swift
  Havit/Havit/Global/Extension/UIView+Extension.swift
  Havit/Havit/Screens/Category/View/CategoryViewController.swift
  Havit/Havit/Screens/CategoryContents/View/CategoryContentsViewController.swift
  Havit/Havit/Screens/Main/View/MainViewController.swift
  Havit/Havit/Screens/Main/ViewModel/MainViewModel.swift
  Havit/Havit/Screens/Mypage/View/MypageViewController.swift
  Havit/Havit/Screens/SearchContents/View/SearchContentsViewController.swift
  Havit/Havit/Screens/SocialLogin/View/SocialLoginViewController.swift
  Havit/Havit/Screens/Tabbar/View/TabbarController.swift
Labels: 🗂 윤아, ⚙️ Setting

#31 [FEAT] CategoryView 기본 Layout 구현
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Coordinator/CategoryCoordinator.swift
  Havit/Havit/Screens/Category/View/CategoryCollectionViewCell.swift
  Havit/Havit/Screens/Category/View/CategoryViewController.swift
Labels: 🗂 수연, 🟣 Category, 🖍 Design

#35 [FEAT] WebView 기본 동작 구현 (load 및 delegate 처리)
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Coordinator/WebViewCoordinator.swift
  Havit/Havit/Global/Supports/Info.plist
  Havit/Havit/Screens/WebView/View/WebViewController.swift
Labels: 🗂수진, 🟣 WebView

#46 [CHORE] precommit.yml disabled_rules 추가
  .precommit.yml
Labels: 🗂수진, ⚙️ Setting

#49 [ADD] Share Extension Target 추가
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/ShareExtension/Info.plist
  Havit/ShareExtension/ShareViewController.swift
Labels: 🗂 승현, ⚙️ Setting, 🟣 Share

#41 [FEAT] CategoryList 데이터모델 생성 및 적용
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Screens/Category/View/CategoryCollectionViewCell.swift
  Havit/Havit/Screens/Category/View/CategoryListDataModel.swift
  Havit/Havit/Screens/Category/View/CategoryViewController.swift
Labels: 🗂 수연, 🟣 Category

#59 [CHORE] Target Membership Build Target변경
  Havit/Havit.xcodeproj/project.pbxproj
  README.md
Labels: 🗂 승현, ⚙️ Setting, 🟣 Share

#52 [FEAT] Webview header 작성
  Havit/Havit/Coordinator/WebViewCoordinator.swift
  Havit/Havit/Screens/WebView/View/WebViewController.swift
  Havit/Havit/Screens/WebView/ViewModel/WebViewModel.swift
Labels: 🗂수진, 🟣 WebView, 🖍 Design

#66 [FIX] NavigationBar Border Line 문제 해결
  Havit/Havit/Global/Base/BaseViewController.swift
  Havit/Havit/Screens/Category/View/ManageCategoryViewController.swift
Labels: 🐞 BugFix, 🗂 윤아, 🖍 Design

#69 [ADD] webview 에 필요한 image 추가
  Havit/Havit/Global/Literal/ImageLiteral.swift
  Havit/Havit/Global/Resource/Assets.xcassets/iconBackBlack.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconBackBlack.imageset/iconBackBlack.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconBackBlack.imageset/iconBackBlack@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconBackBlack.imageset/iconBackBlack@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconBackspaceBlack.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconBackspaceBlack.imageset/iconBackspaceBlack.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconBackspaceBlack.imageset/iconBackspaceBlack@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconBackspaceBlack.imageset/iconBackspaceBlack@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconBackspaceGray.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconBackspaceGray.imageset/iconBackspaceGray.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconBackspaceGray.imageset/iconBackspaceGray@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconBackspaceGray.imageset/iconBackspaceGray@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconContentsRead.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconContentsRead.imageset/iconContentsRead.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconContentsRead.imageset/iconContentsRead@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconContentsRead.imageset/iconContentsRead@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconContentsUnread.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconContentsUnread.imageset/iconContentsUnread.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconContentsUnread.imageset/iconContentsUnread@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconContentsUnread.imageset/iconContentsUnread@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconForwardBlack.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconForwardBlack.imageset/iconForwardBlack.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconForwardBlack.imageset/iconForwardBlack@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconForwardBlack.imageset/iconForwardBlack@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconForwardGray.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconForwardGray.imageset/iconForwardGray.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconForwardGray.imageset/iconForwardGray@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconForwardGray.imageset/iconForwardGray@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconRefresh.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconRefresh.imageset/iconRefresh.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconRefresh.imageset/iconRefresh@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconRefresh.imageset/iconRefresh@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconSafari.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconSafari.imageset/iconSafari.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconSafari.imageset/iconSafari@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconSafari.imageset/iconSafari@3x.png
Labels: 🗂수진, 🖍 Design

#71 [SETTING] Share Extension SwiftLint 설정
  Havit/Havit.xcodeproj/project.pbxproj
Labels: 🗂 승현, ⚙️ Setting

#60 [FEAT] Empty View 레이아웃 및 분기처리 구현
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Screens/Category/View/CategoryListDataModel.swift
  Havit/Havit/Screens/Category/View/CategoryViewController.swift
  Havit/Havit/Screens/Category/View/Cell/CategoryCollectionViewCell.swift
  Havit/Havit/Screens/Category/View/Component/EmptyCategoryView.swift
Labels: 🗂 수연, 🟣 Category, 🖍 Design

#63 [FEAT] ManageCategoryView Drag&Drop 순서 변경 구현
  Havit/Havit/Screens/Category/View/CategoryListDataModel.swift
  Havit/Havit/Screens/Category/View/CategoryViewController.swift
  Havit/Havit/Screens/Category/View/Cell/CategoryCollectionViewCell.swift
  Havit/Havit/Screens/Category/View/ManageCategoryViewController.swift
Labels: 🗂 수연, 🟣 Category

#75 [Feature] webview footer
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Screens/WebView/View/WebViewController.swift
  Havit/Havit/Screens/WebView/View/WebViewToolbar.swift
  Havit/Havit/Screens/WebView/ViewModel/WebViewModel.swift
Labels: 🗂수진, 🟣 WebView, 🖍 Design

#93 [ADD] btnAdd 이미지를 섀도우가 포함되지 않는 이미지로 변경
  Havit/Havit/Global/Resource/Assets.xcassets/btnAdd.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/btnAdd.imageset/btnAdd.png
  Havit/Havit/Global/Resource/Assets.xcassets/btnAdd.imageset/btnAdd@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/btnAdd.imageset/btnAdd@3x.png
Labels: 🗂수진, 🖍 Design

#94 [CHORE] Feature/uiview shadow function
  Havit/Havit/Global/Extension/UIView+Extension.swift
Labels: 🗂수진, 🖍 Design

#86 [FEAT] Category Empty 레이아웃 구현
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/ShareExtension/Coordinator/ShareExtensionMainCoordinator.swift
  Havit/ShareExtension/EntryNavigationViewController.swift
  Havit/ShareExtension/Info.plist
  Havit/ShareExtension/Screens/View/CategoryEmptyViewController.swift
  Havit/ShareExtension/ShareViewController.swift
Labels: 🗂 승현, 🟣 Share

#85 [FEAT] EditCategoryView 레이아웃 및 기본 기능 구현
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Coordinator/EditCategoryCoordinator.swift
  Havit/Havit/Screens/Category/View/CategoryViewController.swift
  Havit/Havit/Screens/Category/View/Cell/CategoryCollectionViewCell.swift
  Havit/Havit/Screens/Category/View/Cell/CategoryIconCollectionViewCell.swift
  Havit/Havit/Screens/Category/View/EditCategoryViewController.swift
  Havit/Havit/Screens/Category/View/ManageCategoryViewController.swift
Labels: 🗂 수연, 🟣 Category, 🖍 Design

#62 [ADD] 도달률 Section Cell 구현
  .precommit.yml
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Havit/Havit/Global/Extension/UILabel+Extension.swift
  Havit/Havit/Global/Extension/UIView+Extension.swift
  Havit/Havit/Global/Supports/AppDelegate.swift
  Havit/Havit/Screens/Main/View/Cell/ReachRateNotificationTableViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/ReachRateTableViewCell.swift
  Havit/Havit/Screens/Main/View/Component/MainSearchHeaderView.swift
  Havit/Havit/Screens/Main/View/Component/RateContentView.swift
  Havit/Havit/Screens/Main/View/MainTableViewController.swift
  Havit/Havit/Screens/Main/View/MainViewController.swift
Labels: 🗂 윤아, 🟣 Main, 🖍 Design

#98 [DEL] UIApplication extension 에 정의된 kewWindow 삭제
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Global/Extension/UIApplication+Extension.swift
Labels: 🐞 BugFix, 🗂수진

#101 [REFACTOR] MainTableView DataSource 로직 리팩토링
  Havit/Havit/Screens/Main/View/Cell/ReachRateNotificationTableViewCell.swift
  Havit/Havit/Screens/Main/View/MainTableViewController.swift
  Havit/Havit/Screens/Main/View/MainViewController.swift
Labels: 🗂수진, 🗂 승현, 🗂 수연, 🟣 Main, 🔨 Refactor

#112 [ADD] Default Token 추가
  Havit/Havit/Network/Foundation/APIEnvironment.swift
Labels: 🗂 윤아, ⚙️ Setting, 📬 API

#111 [ADD] Main guideline 셀 추가
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Screens/Main/View/Cell/GuidelineTableViewCell.swift
  Havit/Havit/Screens/Main/View/MainTableViewController.swift
Labels: 🗂 윤아, 🟣 Main, 🖍 Design

#107 [FEAT] CategoryContents View UI Design #27
  Havit/Havit/Global/Resource/Assets.xcassets/contentsDummyImg1.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/contentsDummyImg1.imageset/contentsDummyImg1.pdf
  Havit/Havit/Global/Resource/Assets.xcassets/contentsDummyImg2.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/contentsDummyImg2.imageset/contentsDummyImg2.pdf
  Havit/Havit/Global/Resource/Assets.xcassets/contentsDummyImg3.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/contentsDummyImg3.imageset/contentsDummyImg3.pdf
  Havit/Havit/Global/UIComponent/ContentsCollectionViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/CategoryContentsViewController.swift
  Havit/Havit/Screens/CategoryContents/View/Cell/CategoryContents1xNCollectionViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/Cell/CategoryContents2xNCollectionViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/Cell/CategoryFilterCollectionViewCell.swift
Labels: 🗂 예빈, 🟣 Category, 🖍 Design

#113 [ADD] 최근 저장 콘텐츠 영역 추가
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Screens/Main/View/Cell/RecentContentCollectionViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/RecentContentTableViewCell.swift
  Havit/Havit/Screens/Main/View/MainTableViewController.swift
Labels: 🗂 윤아, 🟣 Main, 🖍 Design

#119 [FEAT] 카테고리 수정 API 연결
  Havit/Havit/Global/Extension/UIViewController+Extension.swift
  Havit/Havit/Network/API/CategoryEndPoint.swift
  Havit/Havit/Network/APIService/CategoryService.swift
  Havit/Havit/Network/Foundation/HttpMethod.swift
  Havit/Havit/Network/Serviceable/CategoryServiceable.swift
  Havit/Havit/Screens/Category/View/Cell/CategoryCollectionViewCell.swift
  Havit/Havit/Screens/Category/View/EditCategoryViewController.swift
Labels: 🗂 수연, 📬 API, 🟣 Category

#118 [ADD] Main 추천 사이트 뷰 구현
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Screens/Category/View/EditCategoryViewController.swift
  Havit/Havit/Screens/Main/View/Cell/CategoryListTableViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/RecommendSiteCollectionViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/RecommendSiteTableViewCell.swift
  Havit/Havit/Screens/Main/View/MainTableViewController.swift
Labels: 🗂 윤아, 🟣 Main, 🖍 Design

#128 [ADD] NavigationBarBase에서 Font Attribute 추가
  Havit/Havit/Global/Base/BaseViewController.swift
Labels: 🗂 윤아, ⚙️ Setting, 🖍 Design

#132 [DEL] Coordinator 패턴 삭제
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Coordinator/AppCoordinator.swift
  Havit/Havit/Coordinator/CategoryContentsCooridnator.swift
  Havit/Havit/Coordinator/CategoryCoordinator.swift
  Havit/Havit/Coordinator/EditCategoryCoordinator.swift
  Havit/Havit/Coordinator/Foundation/BaseCoordinator.swift
  Havit/Havit/Coordinator/Foundation/Coordinator.swift
  Havit/Havit/Coordinator/MainCoordinator.swift
  Havit/Havit/Coordinator/ManageCategoryCoordinator.swift
  Havit/Havit/Coordinator/SearchContentsCoordinator.swift
  Havit/Havit/Coordinator/WebViewCoordinator.swift
  Havit/Havit/Global/Supports/SceneDelegate.swift
  Havit/Havit/Screens/Category/View/CategoryViewController.swift
  Havit/Havit/Screens/Category/View/EditCategoryViewController.swift
  Havit/Havit/Screens/Category/View/ManageCategoryViewController.swift
  Havit/Havit/Screens/CategoryContents/View/CategoryContentsViewController.swift
  Havit/Havit/Screens/Main/View/MainViewController.swift
  Havit/Havit/Screens/SearchContents/View/SearchContentsViewController.swift
  Havit/Havit/Screens/WebView/View/WebViewController.swift
  Havit/ShareExtension/Coordinator/ShareExtensionMainCoordinator.swift
  Havit/ShareExtension/Screens/View/CategoryEmptyViewController.swift
Labels: 🗂수진

#126 [ADD] Main 하단 뷰 구현
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Screens/Main/View/Cell/LogoTableViewCell.swift
  Havit/Havit/Screens/Main/View/Component/MainFooterView.swift
  Havit/Havit/Screens/Main/View/MainTableViewController.swift
Labels: 🗂 윤아, 🟣 Main, 🖍 Design

#134 [ADD] TableView Empty State일 때 구현
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Screens/Main/View/Cell/CategoryListTableViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/GuidelineTableViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/LogoTableViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/ReachRateNotificationTableViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/ReachRateTableViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/RecentContentTableViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/RecommendSiteTableViewCell.swift
  Havit/Havit/Screens/Main/View/Component/MainCategoryEmptyView.swift
  Havit/Havit/Screens/Main/View/Component/MainRecentContentEmptyView.swift
  Havit/Havit/Screens/Main/View/MainTableViewController.swift
Labels: 🗂 윤아, 🟣 Main, 🖍 Design

#140 [CHORE] 웹뷰 navigation / toolbar UI 변경
  Havit/Havit/Screens/WebView/View/WebViewController.swift
  Havit/Havit/Screens/WebView/View/WebViewToolbar.swift
Labels: 🗂수진, 🟣 WebView, 🖍 Design

#136 [FEAT] TabbarController 작성
  Havit/Havit/Global/Supports/SceneDelegate.swift
  Havit/Havit/Screens/Tabbar/View/TabbarController.swift
Labels: 🗂수진, 🟣 Tabbar, 🖍 Design

#138 [ADD] TabBar 용 이미지 교체
  Havit/Havit/Global/Resource/Assets.xcassets/iconCategorySelected.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconCategorySelected.imageset/iconCategorySelected.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconCategorySelected.imageset/iconCategorySelected@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconCategorySelected.imageset/iconCategorySelected@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconCategoryUnselected.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconCategoryUnselected.imageset/iconCategoryUnselected.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconCategoryUnselected.imageset/iconCategoryUnselected@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconCategoryUnselected.imageset/iconCategoryUnselected@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconHomeSelected.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconHomeSelected.imageset/iconHomeSelected.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconHomeSelected.imageset/iconHomeSelected@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconHomeSelected.imageset/iconHomeSelected@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconHomeUnselected.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconHomeUnselected.imageset/iconHomeUnselected.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconHomeUnselected.imageset/iconHomeUnselected@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconHomeUnselected.imageset/iconHomeUnselected@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconMypageSelected.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconMypageSelected.imageset/iconMypageSelected.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconMypageSelected.imageset/iconMypageSelected@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconMypageSelected.imageset/iconMypageSelected@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconMypageUnselected.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconMypageUnselected.imageset/iconMypageUnselected.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconMypageUnselected.imageset/iconMypageUnselected@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconMypageUnselected.imageset/iconMypageUnselected@3x.png
Labels: 🗂수진, 🟣 Tabbar, 🖍 Design

#148 [FEAT] Category 추가 아이콘 선택 뷰 레이아웃 구현
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/ShareExtension/Screens/Category/View/SelectCategoryIconViewController.swift
Labels: 🗂 승현, 🟣 Share

#151 [FEAT] CategoryContents Bottom Panel, Action Sheet 구현 및 UI Design #82
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit.xcodeproj/project.xcworkspace/xcshareddata/swiftpm/Package.resolved
  Havit/Havit/Global/UIComponent/ContentsCollectionViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/CategoryContentsViewController.swift
  Havit/Havit/Screens/CategoryContents/View/CategoryPanModalViewController.swift
  Havit/Havit/Screens/CategoryContents/View/Cell/MoreBottomSheetTableViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/Cell/SortBottomSheetTableViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/Components/CategoryContentsEnum.swift
  Havit/Havit/Screens/CategoryContents/View/Components/Cells/CategoryContents1xNCollectionViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/Components/Cells/CategoryContents2xNCollectionViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/Components/Cells/CategoryFilterCollectionViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/Components/Cells/CategoryPanModalTableViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/Components/Cells/EmptyCategoryContentsCollectionViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/Components/Cells/MorePanModalTableViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/Components/Cells/SortPanModalTableViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/MoreBottomSheetViewController.swift
  Havit/Havit/Screens/CategoryContents/View/MorePanModalViewController.swift
  Havit/Havit/Screens/CategoryContents/View/SortBottomSheetViewController.swift
  Havit/Havit/Screens/CategoryContents/View/SortPanModalViewController.swift
Labels: 🗂 예빈, 🟣 Category, 🖍 Design

#150 [ADD] 전체 알람 뷰 구현 완료
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Screens/Main/View/Component/MainTopView.swift
  Havit/Havit/Screens/Main/View/MainAlarmViewController.swift
  Havit/Havit/Screens/Main/View/MainViewController.swift
Labels: 🗂 윤아, 🟣 Main, 🖍 Design

#153 [CHORE] contentcell Configuration 변경
  Havit/Havit/Global/Literal/ImageLiteral.swift
  Havit/Havit/Global/Resource/Assets.xcassets/graphicNocontents.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/graphicNocontents.imageset/graphicNocontents.png
  Havit/Havit/Global/Resource/Assets.xcassets/graphicNocontents.imageset/graphicNocontents@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/graphicNocontents.imageset/graphicNocontents@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/imgContentsDummyImg1.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/imgContentsDummyImg1.imageset/contentsDummyImg1.pdf
  Havit/Havit/Global/Resource/Assets.xcassets/imgContentsDummyImg2.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/imgContentsDummyImg2.imageset/contentsDummyImg2.pdf
  Havit/Havit/Global/Resource/Assets.xcassets/imgContentsDummyImg3.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/imgContentsDummyImg3.imageset/contentsDummyImg3.pdf
  Havit/Havit/Global/UIComponent/ContentsCollectionViewCell.swift
Labels: 🗂 윤아, 🟣 Main, 🖍 Design

#154 [CHORE] 정아 토큰으로 토큰값 변경
  Havit/Havit/Network/Foundation/APIEnvironment.swift
Labels: 🗂 윤아, ⚙️ Setting, 📬 API

#157 [CHORE] Tabbar Image 변경 및 title 안뜨게 수정
  Havit/Havit/Global/Resource/Assets.xcassets/iconCategorySelected.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconCategorySelected.imageset/iconCategorySelected.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconCategorySelected.imageset/iconCategorySelected@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconCategorySelected.imageset/iconCategorySelected@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconCategoryUnselected.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconCategoryUnselected.imageset/iconCategoryUnselected.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconCategoryUnselected.imageset/iconCategoryUnselected@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconCategoryUnselected.imageset/iconCategoryUnselected@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconHomeSelected.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconHomeSelected.imageset/iconHomeSelected.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconHomeSelected.imageset/iconHomeSelected@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconHomeSelected.imageset/iconHomeSelected@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconHomeUnselected.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconHomeUnselected.imageset/iconHomeUnselected.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconHomeUnselected.imageset/iconHomeUnselected@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconHomeUnselected.imageset/iconHomeUnselected@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconMypageSelected.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconMypageSelected.imageset/iconMypageSelected.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconMypageSelected.imageset/iconMypageSelected@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconMypageSelected.imageset/iconMypageSelected@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconMypageUnselected.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconMypageUnselected.imageset/iconMypageUnselected.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconMypageUnselected.imageset/iconMypageUnselected@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconMypageUnselected.imageset/iconMypageUnselected@3x.png
  Havit/Havit/Screens/Category/View/CategoryViewController.swift
Labels: 🗂 윤아, 🖍 Design

#152 [FEAT] 전체 CategoryView에서 화면 전환 및 Data 전달
  Havit/Havit/Network/Model/Category.swift
  Havit/Havit/Screens/Category/View/CategoryViewController.swift
  Havit/Havit/Screens/Category/View/Cell/CategoryCollectionViewCell.swift
  Havit/Havit/Screens/Category/View/EditCategoryViewController.swift
  Havit/Havit/Screens/Category/View/ManageCategoryViewController.swift
Labels: 🗂 수연, 🟣 Category

#158 [ADD] Main API 연결 및 카테고리 가져오기 구현
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Network/API/MainEndPoint.swift
  Havit/Havit/Network/APIService/MainService.swift
  Havit/Havit/Network/Model/Category.swift
  Havit/Havit/Network/Model/Content.swift
  Havit/Havit/Network/Model/Site.swift
  Havit/Havit/Network/Serviceable/MainServiceable.swift
  Havit/Havit/Screens/Main/View/Cell/CategoryListCollectionViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/CategoryListTableViewCell.swift
  Havit/Havit/Screens/Main/View/MainTableViewController.swift
  Havit/Havit/Screens/Main/View/MainViewController.swift
  Havit/Havit/Screens/Main/ViewModel/MainViewModel.swift
  Havit/Havit/Screens/Tabbar/View/TabbarController.swift
Labels: 🗂 윤아, 📬 API, 🟣 Main

#162 [FEAT] Category 추가 Category 선택 뷰 레이아웃 구현
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Global/Literal/ImageLiteral.swift
  Havit/ShareExtension/Screens/Category/View/Cell/CategoryCollectionViewCell.swift
  Havit/ShareExtension/Screens/Category/View/SelectCategoryViewController.swift
Labels: 🗂 승현, 🟣 Share

#160 [FEAT] 카테고리 순서 변경 API 연결
  Havit/Havit/Network/API/CategoryEndPoint.swift
  Havit/Havit/Network/APIService/CategoryService.swift
  Havit/Havit/Network/Serviceable/CategoryServiceable.swift
  Havit/Havit/Screens/Category/View/EditCategoryViewController.swift
  Havit/Havit/Screens/Category/View/ManageCategoryViewController.swift
Labels: 🗂 수연, 📬 API, 🟣 Category

#164 [FEAT] 최근 저장 콘텐츠, 오늘의 추천 사이트 서버 구현
  Havit/Havit/Network/API/CategoryEndPoint.swift
  Havit/Havit/Screens/CategoryContents/View/Components/Cells/CategoryPanModalTableViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/CategoryListCollectionViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/CategoryListTableViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/RecentContentCollectionViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/RecentContentTableViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/RecommendSiteCollectionViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/RecommendSiteTableViewCell.swift
  Havit/Havit/Screens/Main/View/MainTableViewController.swift
  Havit/Havit/Screens/Main/View/MainViewController.swift
Labels: 🗂 윤아, 📬 API, 🟣 Main

#174 [FEAT] Contents 저장 뷰 레이아웃 구현
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Global/Literal/ImageLiteral.swift
  Havit/Havit/Global/Resource/Assets.xcassets/iconShareAlarm.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconShareAlarm.imageset/iconShareAlarm.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconShareAlarm.imageset/iconShareAlarm@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconShareAlarm.imageset/iconShareAlarm@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconShareEdit.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconShareEdit.imageset/iconShareEdit.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconShareEdit.imageset/iconShareEdit@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconShareEdit.imageset/iconShareEdit@3x.png
  Havit/ShareExtension/Screens/Contents/SaveContentsViewController.swift
Labels: 🗂 승현, 🟣 Share

#169 [FEAT] 카테고리 삭제 API 연결
  Havit/Havit/Network/API/CategoryEndPoint.swift
  Havit/Havit/Network/APIService/CategoryService.swift
  Havit/Havit/Network/Serviceable/CategoryServiceable.swift
  Havit/Havit/Screens/Category/View/EditCategoryViewController.swift
  Havit/Havit/Screens/Category/View/ManageCategoryViewController.swift
Labels: 🗂 수연, 📬 API, 🟣 Category

#178 [FEAT] 카테고리 수정 뷰 더미 아이콘 변경
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Screens/Category/View/CategoryIconList.swift
  Havit/Havit/Screens/Category/View/CategoryListDataModel.swift
  Havit/Havit/Screens/Category/View/Cell/CategoryIconCollectionViewCell.swift
  Havit/Havit/Screens/Category/View/EditCategoryViewController.swift
  Havit/ShareExtension/Screens/Category/View/Cell/CategoryCollectionViewCell.swift
  Havit/ShareExtension/Screens/Category/View/SelectCategoryViewController.swift
Labels: 🗂 수연, 🟣 Category

#177 [FEAT] 검색 API 연결 #123
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Global/UIComponent/ContentsCollectionViewCell.swift
  Havit/Havit/Network/API/CategoryContentsEndPoint.swift
  Havit/Havit/Network/API/SearchContentsEndPoint.swift
  Havit/Havit/Network/APIService/CategoryContentsService.swift
  Havit/Havit/Network/APIService/SearchContentsService.swift
  Havit/Havit/Network/Foundation/APIService.swift
  Havit/Havit/Network/Model/CategoryContents.swift
  Havit/Havit/Network/Model/SearchContents.swift
  Havit/Havit/Network/Serviceable/CategoryContentsServiceable.swift
  Havit/Havit/Network/Serviceable/SearchContentsServiceable.swift
  Havit/Havit/Screens/CategoryContents/View/CategoryContentsViewController.swift
  Havit/Havit/Screens/CategoryContents/View/Cell/NotSearchedCollectionViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/Components/Cells/CategoryPanModalTableViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/Components/Cells/MorePanModalTableViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/Components/Cells/SortPanModalTableViewCell.swift
  Havit/Havit/Screens/SearchContents/View/SearchContentsViewController.swift
  Havit/Havit/Screens/Tabbar/View/TabbarController.swift
Labels: 🗂 예빈, 📬 API, 🟣 Search

#176 [ADD] 메인 최근 저장 컨텐츠, 봐야 하는 컨텐츠 내부 뷰 API 구현
  Havit/Havit/Global/UIComponent/ContentsCollectionViewCell.swift
  Havit/Havit/Network/API/MainEndPoint.swift
  Havit/Havit/Network/APIService/MainService.swift
  Havit/Havit/Network/Serviceable/MainServiceable.swift
  Havit/Havit/Screens/Main/View/Cell/CategoryListTableViewCell.swift
  Havit/Havit/Screens/Main/View/MainRecentViewController.swift
  Havit/Havit/Screens/Main/View/MainUnwatchedViewController.swift
Labels: 🗂 윤아, 📬 API, 🟣 Main

#181 [FEAT] Contents 저장 제목 수정 레이아웃 구현
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/ShareExtension/Screens/Contents/EditContentsTitleViewController.swift
Labels: 🗂 승현, 🟣 Share

#143 [FEAT] 웹뷰 읽음 버튼 클릭 이벤트 연결 / push 동작시 tabBar hidden 처리
  Havit/Havit/Screens/Tabbar/View/TabbarController.swift
  Havit/Havit/Screens/WebView/View/WebViewController.swift
  Havit/Havit/Screens/WebView/ViewModel/WebViewModel.swift
Labels: 🗂수진, 🟣 WebView, 🖍 Design

#186 [FEAT] Contents 저장 알림 설정 뷰 레이아웃 구현
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/ShareExtension/Screens/Contents/View/Cell/SetAlertCollectionViewCell.swift
  Havit/ShareExtension/Screens/Contents/View/EditContentsTitleViewController.swift
  Havit/ShareExtension/Screens/Contents/View/SaveContentsViewController.swift
  Havit/ShareExtension/Screens/Contents/View/SetAlertViewController.swift
Labels: 🗂 승현, 🟣 Share

#184 [ADD] 도달률 및 카테고리 Count 구현
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Network/API/MainEndPoint.swift
  Havit/Havit/Network/APIService/MainService.swift
  Havit/Havit/Network/Model/Category.swift
  Havit/Havit/Network/Model/User.swift
  Havit/Havit/Network/Serviceable/MainServiceable.swift
  Havit/Havit/Screens/Main/View/Cell/CategoryListCollectionViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/CategoryListTableViewCell.swift
  Havit/Havit/Screens/Main/View/MainTableViewController.swift
  Havit/Havit/Screens/Main/View/MainViewController.swift
Labels: 🗂 윤아, 📬 API, 🟣 Main

#190 [FEAT] Mypage UI 및 레이아웃 구현
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Global/Literal/ImageLiteral.swift
  Havit/Havit/Global/Resource/Assets.xcassets/iconMyPageCategory.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconMyPageCategory.imageset/iconMyPageCategory.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconMyPageCategory.imageset/iconMyPageCategory@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconMyPageCategory.imageset/iconMyPageCategory@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconMyPageCheck.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconMyPageCheck.imageset/iconMyPageCheck.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconMyPageCheck.imageset/iconMyPageCheck@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconMyPageCheck.imageset/iconMyPageCheck@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconMyPageSave.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/iconMyPageSave.imageset/iconMyPageSave.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconMyPageSave.imageset/iconMyPageSave@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/iconMyPageSave.imageset/iconMyPageSave@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/imgMypage.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/imgMypage.imageset/illustrationMypage.png
  Havit/Havit/Global/Resource/Assets.xcassets/imgMypage.imageset/illustrationMypage@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/imgMypage.imageset/illustrationMypage@3x.png
  Havit/Havit/Global/Resource/Assets.xcassets/imgMypageCorn.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/imgMypageCorn.imageset/illustrationMypage2.png
  Havit/Havit/Global/Resource/Assets.xcassets/imgMypageCorn.imageset/illustrationMypage2@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/imgMypageCorn.imageset/illustrationMypage2@3x.png
  Havit/Havit/Screens/Mypage/View/MyPageDescriptionView.swift
  Havit/Havit/Screens/Mypage/View/MypageViewController.swift
  Havit/Havit/Screens/Tabbar/View/TabbarController.swift
Labels: 🗂 수연, 🟣 MyPage, 🖍 Design

#192 [FEAT] 카테고리 수정 및 삭제 후 바뀐 data 전달
  Havit/Havit/Network/Model/Category.swift
  Havit/Havit/Screens/Category/View/Cell/CategoryCollectionViewCell.swift
  Havit/Havit/Screens/Category/View/EditCategoryViewController.swift
  Havit/Havit/Screens/Category/View/ManageCategoryViewController.swift
Labels: 🗂 수연, 🟣 Category

#193 [ADD] 해빗하기 구현 완료
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Global/UIComponent/ContentsCollectionViewCell.swift
  Havit/Havit/Network/API/ContentToggleEndPoint.swift
  Havit/Havit/Network/APIService/ContentToggleService.swift
  Havit/Havit/Network/Model/ContentToggle.swift
  Havit/Havit/Network/Serviceable/ContentToggleServiceable.swift
  Havit/Havit/Screens/Main/View/Cell/CategoryListCollectionViewCell.swift
  Havit/Havit/Screens/Main/View/MainRecentViewController.swift
  Havit/Havit/Screens/Main/View/MainUnwatchedViewController.swift
  Havit/Havit/Screens/Main/View/MainViewController.swift
Labels: 🗂 윤아, 🟣 Main

#194 [FEAT] 앱 내 contents 저장 뷰 레이아웃 구현
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Screens/AddContents/AddContentViewController.swift
  Havit/Havit/Screens/Tabbar/View/TabbarController.swift
Labels: 🗂 승현, 🟣 Share, 🖍 Design

#195 [ADD] 메인 FLOW 연결
  Havit/Havit/Network/Model/Site.swift
  Havit/Havit/Screens/Category/View/CategoryViewController.swift
  Havit/Havit/Screens/CategoryContents/View/CategoryContentsViewController.swift
  Havit/Havit/Screens/Main/View/Cell/CategoryListTableViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/RecentContentTableViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/RecommendSiteCollectionViewCell.swift
  Havit/Havit/Screens/Main/View/Cell/RecommendSiteTableViewCell.swift
  Havit/Havit/Screens/Main/View/Component/MainSearchHeaderView.swift
  Havit/Havit/Screens/Main/View/MainAlarmViewController.swift
  Havit/Havit/Screens/Main/View/MainRecentViewController.swift
  Havit/Havit/Screens/Main/View/MainTableViewController.swift
  Havit/Havit/Screens/Main/View/MainUnwatchedViewController.swift
  Havit/Havit/Screens/Main/View/MainViewController.swift
  Havit/Havit/Screens/SearchContents/View/SearchContentsViewController.swift
Labels: 🗂 윤아, 🟣 Main

#199 [FEAT] 스플래시 뷰 구현
  Havit/Havit/Global/Resource/Assets.xcassets/ios_splash.imageset/Contents.json
  Havit/Havit/Global/Resource/Assets.xcassets/ios_splash.imageset/ios_splash.png
  Havit/Havit/Global/Resource/Assets.xcassets/ios_splash.imageset/ios_splash@2x.png
  Havit/Havit/Global/Resource/Assets.xcassets/ios_splash.imageset/ios_splash@3x.png
  Havit/Havit/Global/Resource/Base.lproj/LaunchScreen.storyboard
  Havit/Havit/Global/Supports/AppDelegate.swift
Labels: 🗂 수연, 🖍 Design

#200 [ADD] WebView Fetch 추가
  Havit/Havit/Screens/Main/View/Cell/RecentContentTableViewCell.swift
  Havit/Havit/Screens/Main/View/MainRecentViewController.swift
  Havit/Havit/Screens/Main/View/MainTableViewController.swift
  Havit/Havit/Screens/Main/View/MainUnwatchedViewController.swift
  Havit/Havit/Screens/WebView/View/WebViewController.swift
Labels: 🗂 윤아, 🟣 Main

#203 [CHORE] 카테고리 셀 레이아웃 오류 수정
  Havit/Havit/Screens/Category/View/Cell/CategoryCollectionViewCell.swift
Labels: 🐞 BugFix, 🗂 수연

#204 [FEAT] MyPage API 구현
  Havit/Havit/Screens/Mypage/View/MypageViewController.swift
Labels: 🗂 윤아, 📬 API, 🟣 MyPage

#206 [FEAT] Share Extension 초기 API Flow 연결
  Havit/ShareExtension/EntryNavigationViewController.swift
  Havit/ShareExtension/Screens/Category/View/Cell/CategoryCollectionViewCell.swift
Labels: 🗂 승현, 📬 API, 🟣 Share

#208 [FEAT] 카테고리 콘텐츠 필터, 정렬 기능 구현 #125
  Havit/Havit/Network/API/CategoryContentsEndPoint.swift
  Havit/Havit/Network/APIService/CategoryContentsService.swift
  Havit/Havit/Network/Serviceable/CategoryContentsServiceable.swift
  Havit/Havit/Screens/CategoryContents/View/CategoryContentsViewController.swift
  Havit/Havit/Screens/CategoryContents/View/Components/CategoryContentsEnum.swift
  Havit/Havit/Screens/CategoryContents/View/Components/Cells/CategoryFilterCollectionViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/Components/Cells/SortPanModalTableViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/SortPanModalViewController.swift
Labels: 🗂 예빈, 📬 API, 🟣 Category

#212 [CHORE] urlTextView 동적레이아웃 구현 및 스크롤
  Havit/Havit/Screens/AddContents/AddContentViewController.swift
Labels: 🐞 BugFix, 🗂 수연, 🖍 Design

#222 [BUG] 카테고리 순서 변경 후 바로 반영이 안되는 오류 해결
  Havit/Havit/Screens/Category/View/CategoryViewController.swift
  Havit/Havit/Screens/Category/View/Cell/CategoryCollectionViewCell.swift
  Havit/Havit/Screens/Category/View/ManageCategoryViewController.swift
Labels: 🐞 BugFix, 🗂 수연

#223 [DOCS] 리드미 변경
  README.md
Labels: 📖 Docs, 🗂 윤아

#214 [BUG] CategoryContentsViewController 레이아웃 오류 수정 #106
  Havit/Havit/Screens/CategoryContents/View/CategoryContentsViewController.swift
  Havit/Havit/Screens/CategoryContents/View/Components/Cells/CategoryFilterCollectionViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/SortPanModalViewController.swift
Labels: 🐞 BugFix, 🗂 예빈, 🟣 Category

#211 [FEAT] SearchContents 취소 버튼 구현 및 화면 뜨면 키보드 올라오게 기능 구현 #210
  Havit/Havit/Screens/SearchContents/View/SearchContentsViewController.swift
Labels: 🗂 예빈, 🟣 Search

#227 [CHORE] webView MVVM 컨버팅
  Havit/Havit/Screens/WebView/View/WebViewController.swift
  Havit/Havit/Screens/WebView/ViewModel/WebViewModel.swift
Labels: 🗂수진, 🟣 WebView

#217 [FEAT] CategoryContentsVIew WebView, PATCH 연결 #215
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Network/APIService/CategoryContentsService.swift
  Havit/Havit/Network/Model/CategoryContents.swift
  Havit/Havit/Network/Serviceable/CategoryContentsServiceable.swift
  Havit/Havit/Screens/CategoryContents/View/CategoryContentsViewController.swift
  Havit/Havit/Screens/CategoryContents/View/Components/Cells/CategoryContents1xNCollectionViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/Components/Cells/CategoryContents2xNCollectionViewCell.swift
  Havit/Havit/Screens/CategoryContents/View/MorePanModalViewController.swift
  Havit/Havit/Screens/CategoryContents/View/SortPanModalViewController.swift
Labels: 🗂 예빈, 📬 API, 🟣 Category

#231 [CHORE] 스플래시 뷰 에러 수정
  Havit/Havit/Global/Resource/Base.lproj/LaunchScreen.storyboard
  Havit/Havit/Global/Supports/AppDelegate.swift
Labels: 🐞 BugFix, 🗂 수연

#229 [CHORE] contentId 가 있을때만 toolbar 내 read button 추가
  Havit/Havit/Screens/Main/View/MainTableViewController.swift
  Havit/Havit/Screens/WebView/View/WebViewController.swift
  Havit/Havit/Screens/WebView/View/WebViewToolbar.swift
  Havit/Havit/Screens/WebView/ViewModel/WebViewModel.swift
Labels: 🗂수진, 🟣 WebView, 🖍 Design

#232 [FEAT] Main, Category를 Content와 연결
  Havit/Havit/Screens/Category/View/CategoryViewController.swift
  Havit/Havit/Screens/CategoryContents/View/CategoryContentsViewController.swift
  Havit/Havit/Screens/Main/View/Cell/ReachRateNotificationTableViewCell.swift
  Havit/Havit/Screens/Main/View/MainTableViewController.swift
  Havit/Havit/Screens/WebView/View/WebViewController.swift
Labels: 🗂 윤아, 🗂 예빈, 🗂 수연, 🟣 Main, 🟣 Category

#233 [FEAT] Share Extension Target URL 추출 및 contents 크롤링 요청
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Network/API/ShareEndPoint.swift
  Havit/Havit/Network/APIService/ShareService.swift
  Havit/Havit/Network/Model/SaveTargetContent.swift
  Havit/Havit/Network/Serviceable/ShareServiceable.swift
  Havit/ShareExtension/EntryNavigationViewController.swift
  Havit/ShareExtension/Screens/Category/View/CategoryEmptyViewController.swift
  Havit/ShareExtension/Screens/Category/View/SelectCategoryViewController.swift
  Havit/ShareExtension/Screens/Contents/Model/TargetContent.swift
Labels: 🗂 승현, 📬 API, 🟣 Share

#236 [BUG] textView 두근거림 현상 해결
  Havit/Havit/Screens/AddContents/AddContentViewController.swift
Labels: 🐞 BugFix, 🗂 수연

#239 [BUG] Keyboard 문제 해결
  Havit/Havit/Screens/Main/View/Component/NotSearchedCollectionViewCell.swift
  Havit/Havit/Screens/SearchContents/View/SearchContentsViewController.swift
Labels: 🐞 BugFix, 🗂 윤아, 🟣 Search

#240 [FEAT] CategoryContenetsView 뷰 전환 구현 #216
  Havit/Havit/Screens/CategoryContents/View/CategoryContentsViewController.swift
  Havit/Havit/Screens/CategoryContents/View/CategoryPanModalViewController.swift
  Havit/Havit/Screens/CategoryContents/View/MorePanModalViewController.swift
Labels: 🗂 예빈, 📬 API, 🟣 Category

#241 [BUG] Header Touch 영역이 이상한 오류 수정
  Havit/Havit/Screens/Main/View/Component/MainSearchHeaderView.swift
Labels: 🐞 BugFix, 🗂 윤아, 🟣 Main, 🖍 Design

#242 [FEAT] 선택한 카테고리 컨텐츠 저장 flow로 전달
  Havit/ShareExtension/Screens/Category/View/AddCategoryTitleViewController.swift
  Havit/ShareExtension/Screens/Category/View/Cell/CategoryCollectionViewCell.swift
  Havit/ShareExtension/Screens/Category/View/SelectCategoryViewController.swift
  Havit/ShareExtension/Screens/Contents/View/SaveContentsViewController.swift
Labels: 🗂 승현, 🟣 Share

#246 [CORRECT] 카테고리 컨텐츠 타이틀 두번째 변경 안되는 오류 수정
  Havit/Havit/Screens/CategoryContents/View/CategoryContentsViewController.swift
  Havit/Havit/Screens/CategoryContents/View/CategoryPanModalViewController.swift
  Havit/Havit/Screens/Main/View/MainTableViewController.swift
Labels: 🐞 BugFix, 🗂 예빈, 🟣 Category

#251 [FIX] CategoryContentsView API 연결 오류 수정 #250
  Havit/Havit/Screens/CategoryContents/View/CategoryContentsViewController.swift
  Havit/Havit/Screens/CategoryContents/View/CategoryPanModalViewController.swift
  Havit/Havit/Screens/CategoryContents/View/Components/CategoryContentsEnum.swift
Labels: 🐞 BugFix, 📬 API, 🟣 Category

#254 [BUG] 카테고리가 리로드되지 않는 문제 해결
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Screens/Main/View/Cell/CategoryListTableViewCell.swift
  Havit/Havit/Screens/Main/View/MainTableViewController.swift
  Havit/Havit/Screens/Main/View/MainViewController.swift
Labels: 🐞 BugFix, 🗂 윤아, 🟣 Main, 🖍 Design

#259 [FEAT] Category FLOW 적용
  Havit/Havit/Screens/AddContents/AddContentViewController.swift
  Havit/Havit/Screens/Category/View/CategoryViewController.swift
  Havit/Havit/Screens/Category/View/ManageCategoryViewController.swift
  Havit/ShareExtension/Screens/Category/View/AddCategoryTitleViewController.swift
  Havit/ShareExtension/Screens/Category/View/CategoryEmptyViewController.swift
  Havit/ShareExtension/Screens/Category/View/SelectCategoryIconViewController.swift
  Havit/ShareExtension/Screens/Category/View/SelectCategoryViewController.swift
Labels: 🐞 BugFix, 🗂 윤아

#261 [FEAT] 콘텐츠 생성 flow 연결
  Havit/Havit.xcodeproj/project.pbxproj
  Havit/Havit/Network/API/CategoryContentsEndPoint.swift
  Havit/Havit/Network/APIService/CategoryContentsService.swift
  Havit/Havit/Network/Model/CreateContent.swift
  Havit/Havit/Network/Serviceable/CategoryContentsServiceable.swift
  Havit/ShareExtension/Screens/Category/View/SelectCategoryIconViewController.swift
  Havit/ShareExtension/Screens/Contents/Model/TargetContent.swift
  Havit/ShareExtension/Screens/Contents/View/EditContentsTitleViewController.swift
  Havit/ShareExtension/Screens/Contents/View/SaveContentsViewController.swift
Labels: 🗂 승현, 📬 API, 🟣 Share
